@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,800&display=swap')
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Serif', serif;
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight:bolder;
}

.header{
    background-color: #1F2937;

}

.logo{
    font-size: 24px;
    color: #f9fafb;
}

.header_links{
    font: size 18px;
    color: #e5e7eb;

}

.navbar{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;

}

.navbar-left{
    display: flex;
    justify-content: flex-start;
    margin-left: 150px;

}

.navbar-right{
    display: flex;
    flex-wrap: wrap;
    margin-right: 150px;
    gap: 20px;
}

.headerbody{
    background-color: #1f2937;
    display: flex;
    justify-content:center;
    height: 350px;
    width: 100%;

}


.hbleft{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 20px;
    width: 50%;
    
}

.hbright{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 20px;
    width: 50%;
}



.maintext{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    max-width: 410px;

}

.subtext{
    font: size 18px;
    font-weight: 100;
    color: #e5e7eb;
    max-width: 410px;
    max-height: auto;

}

.button{
    margin-top: 10px;
    background-color: #3882f6;
    color: #fff;
    border: none;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
 


}


.imageplaceholder{
    background-color: grey;
    border: #f9faf8;
    height: 200px;
    width: 450px;
}

.thirdsection{
    max-height: 500px ;
    max-width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
}

.informationtext{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 38px;
    font-weight:bolder;
    color: #1f2937;
}

.carousel{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 50px;
}

.box{
    height: 166px;
    width: 171px;
    border:3px solid #3882f6;
    background-color: white;
    border-radius: 25px ;
}

.fourthsection{
    height: 300px;
    width: 100%;
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quotetext{
    font-weight: 100;
    font-size: 36px;
    font-style: italic;
    flex-basis: 793px;
    max-height: 193px;
}

strong{
    text-align: right;
}

.fithsection{
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
}

.bluebox{
    display: flex;
    align-items: center;
    height: 130px;
    width: 1020px;
    background-color: #3882f6;
    padding: 10px;
    border-radius: 25px;
}

.calltoaction{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.buttoncontainer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.catext{
    color: white;
}

.button2{
    margin-top: 10px;
    background-color: #3882f6;
    color: #fff;
    border-color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}