@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

.header{
    background-color: #1F2937;

}

.logo{
    font-size: 24px;
    color: #f9fafb;
}

.header_links{
    font: size 18px;
    color: #e5e7eb;

}

.navbar{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;

}

.navbar-left{
    display: flex;
    justify-content: flex-start;
    margin-left: 150px;

}

.navbar-right{
    display: flex;
    flex-wrap: wrap;
    margin-right: 150px;
    gap: 20px;
}

.headerbody{
    background-color: #1f2937;
    display: flex;
    justify-content:center;
    height: 350px;
    width: 100%;

}


.hbleft{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 20px;
    width: 50%;
    
}

.hbright{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 20px;
    width: 50%;
}



.maintext{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    max-width: 410px;

}

.subtext{
    font: size 18px;
    font-weight: 100;
    color: #e5e7eb;
    max-width: 410px;
    max-height: auto;

}

.button{
    margin-top: 10px;
    background-color: #3882f6;
    color: #fff;
    border: none;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
 


}


.imageplaceholder{
    background-color: grey;
    border: #f9faf8;
    height: 200px;
    width: 450px;
}
